<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <div class="container">
  <nav class="navbar">
    <ul class="nav-tabs">
      <li class="nav-tab"><a href="home" class="tab-link">Home</a></li>
      <li class="nav-tab"><a href="bookcar" class="tab-link">Book a Car</a></li>
      <li class="nav-tab">
        <a href="mybookings" class="tab-link">My Books</a>
      </li>
      <li class="nav-tab"><a href="contacts" class="tab-link">Contacts</a></li>
    </ul>
  </nav>
</div> -->

<router-outlet />
