.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150vh;
  background-image: url("../assets/images/menubackground.jpg");
  // background: linear-gradient(135deg, #f3cf04, #000000);
  color: #333;
}

.miniprofile {
  display: flex;
  width: 100%;
  justify-content: end;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #fff;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 225px;
  color: white;
}

.content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  gap: 15px;
}

.primary-btn,
.secondary-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.primary-btn {
  background-color: #007bff;
  color: #fff;
}

.primary-btn:hover {
  background-color: #0056b3;
}

.secondary-btn {
  background-color: #6c757d;
  color: #fff;
}

.secondary-btn:hover {
  background-color: #5a6268;
}

.footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-top: 2px solid #000000;
  font-size: 14px;
  color: white;
}
