.component-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.table {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 70vh; /* Set the max height of the container */
  overflow-y: auto;
  width: 80%;
}

.listCards {
  margin-top: 30px;
  width: 95%;
}

.cardcard {
  width: 100%;
}

.footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-top: 2px solid #000000;
  font-size: 14px;
  color: white;
}

// h2 {
//   font-size: 2.5rem; /* Larger font size for emphasis */
//   color: #333; /* Dark gray color for good contrast */
//   text-align: center; /* Center-align the heading */
//   margin-bottom: 1.5rem; /* Space below the heading */
//   font-weight: 700; /* Bold font for strong emphasis */
//   text-transform: uppercase; /* Convert text to uppercase */
//   letter-spacing: 0.05em; /* Slight spacing between letters */
//   border-bottom: 2px solid #007bff; /* Add a border below the heading */
//   padding-bottom: 0.5rem; /* Padding below the text for spacing */
//   margin-top: 10px;
// }
